body {
  background-color: #222222;
  color: #BBBBBB;
  font-family: Helvectica;
  font-size: 18px;
}

.title {
  font-family: Courier New;
  font-size: 40px;
  font-style: italic; 
}

.subtitle {
  font-family: Courier New;
  font-size: 36px;
  font-weight: bold; 
}

h1 {
  font-family: Courier New;
  font-size: 26px;
  font-weight: bold; 
}

h2 {
  font-family: Courier New;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: Courier New;
  font-size: 20px;
  text-decoration: underline;
}

.indented {
  margin-left: 3%;
}

.container {
  width: 800px;
  overflow: hidden;
}

a:link {
  color: #AACCFF;
  font-family: Courier New;
  text-decoration: none;
}

a:visited {
  color: #AACCFF;
  font-family: Courier New;
  text-decoration: none;
}

a:hover {
  color: yellow;
  font-family: Courier New;
  text-decoration: underline;
}

a:active {
  font-family: Courier New;
  text-decoration: underline;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  float: center;
}